*.hi
*.o
*~

/report.html
/cabal.sandbox.config
/.cabal-sandbox/
/cabal.config
/dist/
/deps/
/report/
/.shake/
/sandboxes
/queue
/auth
/ui/config.js
/packages.json
/db.sqlite
/db.sqlite-shm
/db.sqlite-wal
/tags.json
/purescript/.psa-stash
