/* General styling */

body,h1,h2,h3,h4,h5,h6,a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
h2 { font-size: 24px; font-weight: 400; }

a { text-decoration: none; color: #428bca; }
a:hover { text-decoration: underline; cursor: pointer; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0;
  background-color: #FDFDFF;
}

.error { color: red; }

/* Tags (global styling) */
.tag-item {
  margin-left: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: gray;
  color: white;
  padding: 0 3px;
  font-size: 12px;
}
.tag-item.active {
  background-color: black;
}

/* Menu */

#menu {
  background: linear-gradient(to right,#150e1a 0%,#22172a 100%);
  padding: 10px 10px 10px 20px;
}

#menu .item {
  font-size: 20px;
  margin-right: 10px;
  color: #d1cddc;
  max-height: 43px;
}

#menu .item.left {
  float: left;
}
#menu .item.right {
  float: right;
}

#menu .item a {
  font-size: 20px;
  color: #d1cddc;
}
#menu .item a:hover {
  color: white;
}

#menu .logo-container {
  margin-right: 50px;
}

#menu .logo {
  height: 43px;
  width: 64px;
  float: left;
}
#menu .logo-text {
  float: left;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 9px;
}

#menu .item.link {
  margin: 8px 20px 0 0;
}

#menu .item.search {
  width: 380px;
  margin-top: 8px;
}

#menu .item.search .text {
  float: left;
}
#menu .item.search .input {
  height: 20px;
  width: 200px;
  float: right;
  font-size: 18px;
}

/* Main container */

#container
{
}

/* Pages */

.page {
  display: none;
  width: 1200px;
  margin: auto;
  margin-top: 20px;
}
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* Left column */

.leftcol {
  float: left;
  padding: 0;
  width: 750px;
}
.leftcol:after {
  content: "";
  display: table;
  clear: both;
}

/* Left split */
.leftcol.col-2 .leftcol-2-left {
  width: 370px;
  float: left;
}
.leftcol.col-2 .leftcol-2-right {
  width: 370px;
  float: right;
}

/* Right column */

.rightcol {
  float: right;
  padding: 0;
  width: 425px;
}

/* Main content */

.main-header {
  margin: 0;
}
.main-header-subtext {
  margin-bottom: 20px;
}

/* Right column menus */

.rightcol .sub {
  background-color: #f4f1e2;
  margin-bottom: 10px;
  padding: 20px;
}

.rightcol .header {
  margin-top: 0;
}

.rightcol #build-queuer-container {
  width: 300px;
}

.rightcol input[type=button], .rightcol in[type=submit] {
  font-size: 20px;
}

.rightcol label {
  font-size: 12px;
}

.already-queued {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Package page */

#tabs-container {
  max-width: 800px;
}

#tabs-container .log-entry {
  height: 400px;
  overflow: scroll;
}

#queueing .already-queued {
  display: none;
}

#tagging .remove {
  padding-left: 10px;
}

/** Table **/

#page-package table {
  border: 3px solid black;
  border-collapse: collapse;
}

#page-package td {
  border-top:    1px dotted black;
  border-bottom: 1px dotted black;
  border-right:  1px solid black;
  border-left:   1px solid black;

  text-align: right;
  padding-left: 5px;
  padding-right: 5px;
}

#page-package th {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Helvetica, sans-serif;
}

#page-package .pkgv {
  text-align: left;
  background-color: #eeeeee;
  font-family: Helvetica, sans-serif;
}
#page-package .pkgv .revision.newer-revision {
  color: orange;
}

#page-package #package-not-built {
  margin-bottom: 20px;
}

#page-package tr.first-minor { border-top: 3px solid black; }
#page-package tr.first-major { border-top: 5px solid black; }

#page-package td.pass-build { background-color: #00ff00; }
#page-package td.pass-no-ip { background-color: #007700; }
#page-package td.fail-no-ip { background-color: gray; }
#page-package td.fail-bj { background-color: orange; }
#page-package td.pass-no-op { background-color: #00cc00; }
#page-package td.fail-build { background-color: #ff0000; }
#page-package td.fail-dep-build { background-color: #770000; }
#page-package td.fail-unknown { background-color: #000000; }

#page-package .fail-no-ip, .fail-build:hover, .fail-dep-build:hover { cursor: pointer; }

#page-package td.stcell {
  text-align: center;
}

/** Legend **/

#legend-table td.stcell {
  font-size: 14px;
}
#legend-table .text {
  text-align: left;
  padding-left: 5px;
}

/** Packages & User **/

#page-packages .headers {
  list-style-type: none;
}
#page-packages .headers .header {
  margin-left: 10px;
  font-size: 20px;
  float: left;
}
#page-packages .packages-only-reports, #page-users .packages-only-reports {
  margin-left: 50px;
}

#page-user .content { float: left; min-width: 800px }
#page-user .username { margin-bottom: 0; }
#page-user .username-subtext { margin-bottom: 20px; }

/** Latest **/

#queue-list td {
  padding: 0px 10px 0 0;
}
#queue-list .num {
  text-align: right;
}
#queue-list .priority.high {
  color: black;
}
#queue-list .priority.medium {
  color: #999;
}
#queue-list .priority.low {
  color: #DDD;
}

#queue-list .high .up {
  visibility: hidden;
}
#queue-list .low .down {
  visibility: hidden;
}

/** jQuery UI tweaks **/

body .ui-widget-header {
  border: none;
  background: #5e4e89;
}
body .ui-widget-content a { text-decoration: none; color: #428BCA; }
body .ui-widget-content a:hover { text-decoration: underline; }
body .ui-widget-content { background: none; background-color: #FAFAFF; }
body .ui-widget-header .ui-state-default { background: #E6E6F9; }
body .ui-widget-header .ui-state-active { background: #FAFAFF; }
body .ui-tabs-nav.ui-widget-header { height: 40px; }
